<!-- NAVIGATION BAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">Angular Movies</a>
  <form #searchForm="ngForm" (ngSubmit)="search(searchForm.form.value);">
    <input type="text" class="form-control" placeholder="Search..." name="search" ngModel #nameField="ngModel">
  </form>
</nav>

<!-- DISPLAY THE SEARCH RESULTS ONLY IF ENTERED-->
<div *ngIf="isSearchActive">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-11">
          <h1 class="display-6">Search Results...</h1>
        </div>
        <div class="col-1"><button type="button" class="btn btn-default" (click)="close()">Close</button></div>
      </div>
      <div class="row">
        <div *ngFor="let movie of movies">
          <div class="" (click)="openDetail(movie)" data-toggle="modal" data-target="#search">
            <div class="movie__image">
              <img src="https://image.tmdb.org/t/p/w200/{{movie.backdrop_path}}" alt="{{movie.title}}">
              <div class="movie__center__text">
                <p>{{movie.title}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<template id="search" class="modal fade" role="dialog">
  <app-detail [movie]="movie"></app-detail>
</template>