<!-- MAIN CONTAINER CONSISTING OF NOW PLAYING, UPCOMING, BEST RATED COMPONENTS -->
<div class="container-fluid main">
    <div class="row">
        <div class="col-12 nowPlaying">
            <app-now-playing></app-now-playing>
        </div>
    </div>
    <div class="row upcoming__bestRated__container">
        <div class="col-4 upcoming">
            <app-upcoming></app-upcoming>
        </div>
        <div class="col-8 bestRated">
            <app-best-rated></app-best-rated>
        </div>
    </div>
</div>