.main
    max-height: 75%
    height: 75%

.upcoming__bestRated__container
    min-height: 100%
    height: 100%

.upcoming
    overflow: auto
    max-height: 100%

.bestRated
    overflow: auto
    max-height: 100%

.nowPlaying
    overflow: auto
    max-height: 27%
    height: 27%

