<!-- MODAL DIALOG -->
<div class="modal-dialog" *ngIf="movie">
    <!-- CONTENT OF MODAL-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{movie.title}}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <img src="https://image.tmdb.org/t/p/w400/{{movie.poster_path}}" alt="movie.overview">
            <p>{{movie.overview}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>