<!-- <div class="container-fluid"> -->
<!-- <div class="row"> -->
<h3 class="col-12">Best Rated</h3>
<!-- </div> -->

<div class="row">
    <div *ngFor="let movie of movies">
        <div class="col-6" (click)="openDetail(movie)" data-toggle="modal" data-target="#bestRated">
            <div class="movie__image">
                <img src="https://image.tmdb.org/t/p/w400/{{movie.backdrop_path}}" alt="{{movie.title}}">
                <div class="movie__center__text">
                    <h1>{{movie.title}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->

<!-- Modal -->
<template id="bestRated" class="modal fade" role="dialog">
    <app-detail [movie]="movie"></app-detail>
</template>