.movie__image
    position: relative
    text-align: center
    color: white
    filter: grayscale(100%)

.movie__image:hover
    filter: grayscale(0%)
    cursor: pointer

.movie__center__text
    // color: #000000
    position: absolute
    top: 50%
    left: 50%
    transform: translate(0%, -50%)

    font-size: 80px
    color: #fff
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #265861, 0 0 40px #265861, 0 0 50px #265861, 0 0 60px #265861, 0 0 70px #265861

