.horizontal
    overflow-y: hidden
    overflow-x: auto 
    display: flex
    justify-content: space-between
    text-align: center
    .slide
        margin: 5px

.movie__image
    position: relative
    text-align: center
    color: white
    filter: grayscale(100%)

.movie__image:hover
    filter: grayscale(0%)
    cursor: pointer

.movie__center__text
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    font-size: 30px
    color: #fff
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #265861, 0 0 40px #265861, 0 0 50px #265861, 0 0 60px #265861, 0 0 70px #265861
