<h3>Now Showing</h3>

<div class="horizontal">
    <div *ngFor="let movie of movies">
        <div class="slide">
            <div (click)="openDetail(movie)" data-toggle="modal" data-target="#nowPlaying">
                <div class="movie__image">
                    <img src="https://image.tmdb.org/t/p/w300/{{movie.backdrop_path}}" alt="{{movie.title}}">
                    <div class="movie__center__text">
                        <p>{{movie.title}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- MODAL TEMPLATE -->
<template id="nowPlaying" class="modal fade" role="dialog">
    <app-detail [movie]="movie"></app-detail>
</template>