<div class="container-fluid">
    <div class="row">
        <h3 class="col-12">Upcoming</h3>
    </div>

    <div *ngFor="let movie of movies">
        <div class="row">
            <div class="col-12 movie__image" (click)="openDetail(movie)" data-toggle="modal" data-target="#upcoming">
                <img src="https://image.tmdb.org/t/p/w400/{{movie.backdrop_path}}" alt="{{movie.title}}">
                <div class="movie__center__text">
                    <h1>{{movie.title}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<template id="upcoming" class="modal fade" role="dialog">
    <app-detail [movie]="movie"></app-detail>
</template>